<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="logInBound" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	<bean id="logOutBound" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
	<jaxws:client id="helloClient" serviceClass="com.ddmwsst.helloworld.HelloWorld"
		address="http://localhost:8080/helloworld/HelloWorld">
		<jaxws:inInterceptors>
			<ref bean="logInBound" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<ref bean="logOutBound" />
			<ref bean="outbound-security" />
		</jaxws:outInterceptors>
	</jaxws:client>

	<!-- WSS4JOutInterceptor for incorporating a UsernameToken in a SOAP -->
	<bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor"
		id="outbound-security">
		<constructor-arg>
			<map>
				<entry key="action" value="UsernameToken" />
				<entry key="user" value="dummy" />
				<!--entry key="passwordType" value="PasswordText"/ -->
				<entry key="passwordCallbackClass" value="client.ClientPasswordCallback" />
			</map>
		</constructor-arg>
	</bean>
</beans>